{% extends 'frontview/home.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/homeproductpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/general.css' %}"> {% endblock styles %} {% block title %}

<title>Category</title>{% endblock title %}{% block banner %}{% endblock banner %} {% block main %}
<div class="cartbody">
    <div id="cartflex">

    </div>
    <p>Grand Total <span id="grand_total"></span></p>
    <div class="customerDetails">
        <form name="customerForm" action="" method="post">
            <fieldset>
                <legend>Customer Details</legend>
                <label for="id_name">Name:</label><input type="text" name="name" maxlength="255" required="" id="id_name">
                <label for="id_email">Email address:</label><input type="email" name="email" maxlength="255" required="" id="id_email">
                <label for="id_phone_number">Phone_number:</label><input type="text" name="phone_number" maxlength="20" required="" id="id_phone_number">
                <label for="id_address">Address:</label><input type="text" name="address" maxlength="256" required="" id="id_address">
            </fieldset>
        </form>
    </div>
</div>
{% endblock main %} {% block javascript %}
<script src="{% static 'javascript/state.js' %}"></script>
<script src="{% static 'javascript/homeproductpage.js' %}"></script>
<script src="{% static 'javascript/cart.js' %}"></script>

{% endblock javascript %}

</html>