{% extends 'frontview/home.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/homeproductpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/general.css' %}"> {% endblock styles %} {% block title %}

<title>Category</title>{% endblock title %}{% block banner %}{% endblock banner %} {% block main %}

<h1>CART</h1>

<div class="historyDiv">
    <form action="{% url 'frontview:csales'%}" method="post">
        {% csrf_token %}
        <input type="hidden" id="hidden_phone_number" name="phone_number">
        <button type="submit">Order History</button>
    </form>
</div>

<div class="cartbody">
    <div id="cartflex">

    </div>
    <p style="margin: 30px auto;"><strong> Grand Total: &#8358 <span id="grand_total"></span></strong></p>
    <button id="process_order" class="addbutton">Process Order</button>
    <div id="customerDetails">
        <div class="customerDetails">
            <form name="customerForm" action="" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Customer Details</legend>
                    <label for="id_name">Name:</label>
                    <p id="nameer"></p>
                    <input class="contactInput" type="text" name="name" maxlength="255" required="" id="id_name">
                    <label for="id_email">Email address:</label>
                    <p id="emailer"></p>
                    <input type="email" class="contactInput" name="email" maxlength="255" required="" id="id_email">
                    <label for="id_phone_number">Phone_number:</label>
                    <p id="phone_numberer"></p>
                    <input type="text" class="contactInput" name="phone_number" maxlength="20" required="" id="id_phone_number">
                    <label for="id_address">Address:</label>
                    <p id="addresser"></p>
                    <input type="text" class="contactInput" name="address" maxlength="256" required="" id="id_address">
                </fieldset>
            </form>
        </div>
        <p id="public_key" style="display: none;">{{public_key}}</p>
        <div class="make_payment">
            <button id="make_payment" style="margin: 30px auto;" class="addbutton">Make Payment</button>
        </div>
    </div>
</div>
{% endblock main %} {% block javascript %}
<script src="{% static 'javascript/state.js' %}"></script>
<script src="{% static 'javascript/homeproductpage.js' %}"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{% static 'javascript/cart.js' %}"></script>


{% endblock javascript %}

</html>