<div id="product" class="product">
    <h3>{{product.product_type.name}}</h3>
    <img src="{{product.image.url}}" alt="{{product.product_type.name}} image"> {% if not product.multipleSIzes.all %}

    <p style='text-align:center;font-weight:bold'><span>&#8358</span> <span class="amount">{{product.price}}</span></p>

    <p style="display:inline">Size: {{product.size}}</p>
    <p style="display: none;" id='{{product.id}}productData'>{{product.id}};{{product.product_type.name}};{{product.size}};{{product.price}};{{product.color}};{{product.image}}</p>
    {% else %}


    <div id='{{product.id}};selectBox' class="selectBox">
        <select>
        <option>Select size(s)</option>
      </select>
        <div class="overSelect"></div>
    </div>
    <div id='{{product.id}}checkboxes' class="checkboxes">
        {% for size in product.multipleSIzes.all %}
        <div class="multiple">
            <input type="checkbox" name="{{product.id}}checkbox" id={{size.id}} data-data={{size.id}};{{size.price}};{{size.size}} />
            <label for={{size.id}}>size: {{size.size}} - &#8358 <span class="amount">{{size.price}}</span></label>
        </div>
        {% endfor %}
    </div>
    <p style="display: none;" id='{{product.id}}productData'>{{product.id}};{{product.product_type.name}};{{product.color}};{{product.image}}</p>
    {% endif %}
    <p style="text-transform:capitalize;">Color: {{product.color}} </p>
    <p>{{product.description}}</p>
    <button class="addToCartButton addbutton" id={{product.id}}>Add to Cart</button>
</div>