{% extends 'frontview/home.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/homeproductpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/general.css' %}"> {% endblock styles %} {% block title %}

<title>PERMISSION DENIED</title>{% endblock title %}{% block banner %}{% endblock banner %} {% block main %}
<h1 style="text-align: center;" >PERMISSION DENIED</h1>
{% endblock main %} 
{% block javascript %}
<script src="{% static 'javascript/state.js' %}"></script>
<script src="{% static 'javascript/homeproductpage.js' %}"></script>
{% endblock javascript %}

