* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    /* font-family: "sans-serif"; */
    font-family: "Roboto";
    font-size: 20px;
    line-height: 1.3;
}

main,
header,
section,
aside,
article,
nav,
footer {
    display: block;
}

body {
    background-color: #0978c6;
}

.Bigwrapper {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0px auto;
    text-align: justify;
}

#logo-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    left: 5px;
    z-index: 100;
    top: 3px;
    overflow: hidden;
    box-sizing: border-box;
}

.logo {
    width: 100%;
}

.menu {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    z-index: 300;
    background-color: #0978c6;
    height: 103px;
}

#fixing {
    position: absolute;
    left: 15px;
    letter-spacing: 5px;
    display: none;
    color: yellow;
    font-weight: 2000;
}

.nav {
    position: absolute;
    float: right;
    right: 5%;
    top: 15px;
}

.nav a {
    font-size: 18px;
    font-weight: bold;
    padding: 2.5px;
    display: inline-block;
    color: white;
    cursor: pointer;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

.nav a:hover {
    background-color: #056fb6;
}

.toggle {
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 69px;
}

.toggle span {
    width: 30px;
    height: 6px;
    background-color: black;
    margin: 3px 0px 3px 6px;
    display: block;
    position: relative;
    bottom: 0px;
    cursor: pointer;
}

.banner {
    width: 100%;
    clear: both;
    height: 200px;
    margin-top: 106px;
    box-sizing: border-box;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannertext {
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 10px;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.8) ! important;
}

.menu h3,
.bannertext p {
    color: white;
    text-shadow: 2px 1px black;
}

.menu h3 {
    font-size: 21px;
    position: absolute;
    top: 77px;
    z-index: 200;
    left: 12px;
    color: #f9f9f9;
}

.bannertext p {
    line-height: 36px;
    margin: 2%;
    text-indent: 0%;
    font-size: 24px;
}

.sideNav {
    position: fixed;
    width: 300px;
    height: 83%;
    background-color: #f2f2f2;
    top: 100px;
    left: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 1% 0% 1% 0%;
    display: none;
    z-index: 200;
}

.sideNav input {
    margin: 0% 15% 2% 15%;
    width: 70%;
}

#sideNav h3 {
    font-size: 16px;
    text-align: center;
    padding: 0px 5px;
}

#sideNav h3 a {
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
}

.sideNav ul li {
    width: 100%;
    padding-left: 2%;
    font-size: 18px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted white;
}

.sideNav ul li a {
    display: block;
    width: 100%;
    display: block;
    padding: 5px;
}

.close {
    position: fixed;
    top: 115px;
    left: 260px;
    font-size: 36px;
    display: none;
}

input[placeholder] {
    text-align: center;
}

p {
    font-size: 18px;
    text-indent: 7%;
    margin-top: 0.2%;
}

h1,
figcaption em,
.article p a {
    font-size: 18px;
}

h2 {
    font-size: 18px;
    color: #f9f9f9;
    padding: 8px 1px;
}

li {
    list-style: none;
}

a,
a sup {
    text-decoration: none;
    color: #0978c6;
    ;
}

a sup {
    font-size: 14px;
}

.main {
    width: 100%;
    box-sizing: border-box;
}

.mainhead {
    text-align: center;
    padding: 8px;
    background-color: #0978cf;
}

.mainhead h1 {
    color: white;
    word-spacing: 4px;
    font-weight: 2000;
    padding: 5px 0px;
}

.article,
.articleBox {
    width: 100%;
    background-color: white;
    padding: 1% 3% 3% 3%;
}

.articleBox {
    padding: 1%;
}

.article section {
    margin-top: 1.3%;
}

.article img {
    width: 100%;
    height: 300px;
    font-size: 16px;
}

.article figcaption {
    padding-left: 5px;
    margin-top: -12px;
}

.article .Pub_discription {
    width: 300px;
    margin: 3px auto;
    text-indent: 0px;
    padding: 5px;
    border: 2px dotted green;
    background-color: #f5f5f5;
}

.article h2 {
    color: black;
}

.article h2,
.article h3 {
    margin-bottom: 5px;
}

.article p {
    margin-top: 0%;
    margin-bottom: 3px;
}

.article li {
    list-style: inherit;
    margin-left: 3%;
    font-size: 18px;
}

.articleInnerBox {
    background-color: #f2f2f2;
    padding: 15px 0px 3px 0px;
}

.articleDisplayBox {
    width: 90%;
    height: 400px;
    padding: 7px;
    box-sizing: border-box;
    background-color: white;
    border: 0px solid black;
    box-sizing: border-box;
    margin: 0px auto 10px auto;
    overflow-y: hidden;
    box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -ms-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
}

.articleDisplayBox p {
    padding-top: 5px;
    color: rgba(17, 17, 17, 0.8);
}

.articleDisplayBox h3 {
    font-size: 20px;
    text-align: center;
}


/* 
.articleDisplayBox h3 a {
    line-height: 1.1;
} */

.articleDisplayBox img {
    width: 78%;
    height: 130px;
    margin: 5px 11%;
    font-size: 16px;
}

.pub_date {
    font-style: italic;
    display: inline;
}

.ads {
    width: 100%;
    height: 100px;
    margin-top: 0px;
    box-sizing: border-box;
    clear: both;
    background-color: #f2f2f2;
}

.mostViewed {
    width: 100%;
    margin-top: 0px;
    clear: both;
    box-sizing: border-box;
}

.backToTop {
    position: fixed;
    right: 5%;
    top: 63%;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
    width: 40px;
    height: 50px;
    z-index: 150;
    padding: 2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    display: none;
}

main fieldset {
    margin: 0px auto 25px auto;
    width: 95%;
    padding-left: 2%;
}

fieldset {
    border: 1px dotted #0978c6;
    background-color: white
}

label {
    color: #0978c6
}

#contactform input[placeholder],
textarea[placeholder] {
    text-align: left;
    padding: 5px;
    font-size: 18px;
}

input,
textarea {
    width: 95%;
    display: block;
    margin-bottom: 5px;
    padding: 2px;
    border: 1px dotted #0978c6;
}

.help {
    text-indent: 0px;
    font-size: 18px;
    padding-right: 10px;
    color: green;
}

.submitButton {
    width: 100px;
    margin: 5px 30%;
    background-color: #0978c6;
    color: white;
}

#whatsappicon {
    width: 30px;
    height: 21px;
}

.fb_iframe_widget {
    position: absolute;
    top: -9px;
    display: inline-block
}

.backToTop a {
    color: white;
    font-size: 30px;
}

footer {
    clear: both;
    border-top: 0px solid black;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.9);
}

#footer,
footer span {
    width: 100%;
    text-align: center;
    color: rgba(230, 230, 230, 0.9);
    font-size: 18px;
    position: relative;
    text-indent: 0px
}

@media screen and (min-width:481px) {
    * {
        font-size: 24px
    }
    .article .Pub_discription {
        width: 400px;
    }
    .articleDisplayBox img {
        width: 68%;
        margin: 5px 16%;
    }
    .article img {
        width: 90%;
        margin: 0px 5%;
    }
}

@media screen and (min-width:641px) {
    .bannertext {
        padding-top: 20px;
    }
    .bannertext p {
        font-size: 30px;
        line-height: 38px;
    }
    .articleInnerBox {
        padding: 7px 0px
    }
    .articleDisplayBox {
        width: 49%;
        height: 430px;
        float: left;
        margin: 5px 0.5% 5px 0.5%;
    }
    .articleDisplayBox img {
        width: 78%;
        margin: 5px 11%;
    }
    .article,
    .articleBox {
        min-height: 600px;
        overflow-y: scroll;
    }
    main fieldset {
        width: 90%;
        padding-left: 10%
    }
    input,
    textarea {
        width: 75%;
    }
    #footer,
    footer span {
        font-size: 19px;
    }
    #whatsappicon {
        display: none
    }
    .fb_iframe_widget {
        top: -11px;
    }
    .article img {
        width: 85%;
        margin: 0px 7.5%;
    }
}

@media screen and (min-width:1000px) {
    .menu {
        padding-top: 10px
    }
    #fixing {
        display: none;
    }
    .toggle {
        display: none;
    }
    .nav {
        top: 60px;
    }
    .nav a {
        padding: 1px 15px;
        font-size: 20px;
        transition: background-color .3s;
    }
    .banner {
        height: 250px;
    }
    .bannertext p {
        font-size: 40px;
        padding-top: 25px;
        line-height: 43px;
    }
    .sideNav {
        display: block;
        background-color: #f2f2f2;
        width: 25%;
        height: 592px;
        position: relative;
        float: left;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 0px;
    }
    #sideNav h3 {
        font-size: 20px;
        text-align: center;
    }
    #sideNav h3 a {
        font-size: 20px;
        text-align: center
    }
    .close,
    #toggle {
        display: none;
    }
    .main {
        width: 75%;
        float: left;
        position: relative;
    }
    .article,
    .articleBox {
        /* height: 1553px; */
        overflow-y: scroll;
    }
    .article img {
        height: 400px;
        width: 100%;
        margin: 0px;
    }
    .articleDisplayBox {
        width: 49%;
        height: 400px;
        float: left;
        margin: 5px 0.5% 5px 0.5%;
        box-shadow: 0px 2px 5px 0px black;
    }
    .ads,
    .mostViewed,
    .news {
        width: 75%;
        left: 25%;
        position: relative;
    }
    footer {
        width: 75%;
        left: 25%;
        position: absolute;
    }
    p {
        font-size: 20px;
        margin-top: 0.3%;
    }
    #footer,
    footer span,
    figcaption em,
    .article li,
    .article p a {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
        text-indent: 7%;
    }
    h2 {
        font-size: 22px;
    }
}

@media screen and (max-width:317px) {
    .nav {
        right: 2%;
    }
    .nav a {
        font-size: 16px;
        padding: 2.5px
    }
    .article .Pub_discription {
        width: 270px;
    }
    p,
    figcaption em,
    .article li,
    .article p a {
        font-size: 16px;
    }
    #footer,
    footer span {
        font-size: 18px;
    }
}