* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    /* font-family: "sans-serif"; */
    font-family: "Roboto";
    font-size: 20px;
    line-height: 1.3;
}

main,
header,
section,
aside,
article,
nav,
footer {
    display: block;
}

body {
    /* background-color: #0978c6; */
}