* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    /* font-family: "sans-serif"; */
    font-family: "Roboto";
    font-size: 18px;
    line-height: 1.5;
}

main,
header,
section,
aside,
article,
nav,
footer {
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    text-decoration: none;
    list-style: none;
}

h3 {
    text-align: center;
}

#logo-div {
    box-sizing: border-box;
    width: 150px;
}

.logo {
    margin-left: -15px;
}

body {
    /* background-color: #FEF2E7; */
}

#bigwrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.addbutton {
    background-color: #0089A6;
    color: white;
}

input,
textarea {
    border: 0px;
    width: 300px;
    height: 30px;
    padding: 10px;
}

select {
    border: 0px;
    width: 300px;
    height: 30px;
}

input,
label,
textarea,
select {
    display: block;
}

textarea {
    height: 80px;
}

input,
textarea,
select {
    margin-bottom: 10px;
}

button {
    border: 0px;
    padding: 4px;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
}

#footer,
footer span {
    width: 100%;
    text-align: center;
    color: rgba(230, 230, 230, 0.9);
    text-indent: 0px
}