.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    background-color: #B36624;
    padding: 3px;
    margin-top: -9px;
    margin-bottom: 10px;
}

.checkboxes label {
    display: inline-block;
    padding: 0px;
    color: white;
}

.checkboxes input {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
}

.checkboxes label:hover {
    background-color: #1e90ff;
}

#product {
    padding: 10px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: grey 2px 2px 5px;
}

.order {
    padding: 20px 20px;
    width: 200px;
    /* padding: 10px; */
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: grey 2px 2px 5px;
}

.center {
    text-align: center;
}

.order p {
    margin-bottom: 5px;
}

.order button {
    padding: 5px;
    margin-left: 41.75px;
}

.order p:nth-last-child(1) {
    margin-bottom: 0px;
}

#product:nth-last-child(1) {
    margin-right: 0px;
}

.order:nth-last-child(1) {
    margin-right: 0px;
}

.orderhistory,
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#product img {
    width: 280px;
    height: auto;
}

#product button {
    margin-left: 93.55px;
}

#decisionBox {
    position: fixed;
    z-index: 4;
    border: 2px solid white;
    background-color: #FEF2E7;
    padding: 15px 20px 20px 20px;
    margin: 50px 35%;
    display: none;
    /* width: 310px */
}

#decisionBox p {
    text-align: center;
    margin-bottom: 10px;
}

#decisionBox .continue {
    margin-right: 20px;
}

#decisionBox a {
    display: inline-block;
    background-color: #9E612C;
    padding: 6px;
    /* font-weight: bold; */
}


/* table {
    counter-reset: tableCount;
}

.counterCell::before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

.product_container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

 */