* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    font-family: "sans-serif", "Times New Roman";
    font-size: 16px;
    line-height: 1.6;
}

main,
header,
section,
aside,
article,
nav,
footer {
    display: block;
}

body {
    background-color: #f5f5f5
}

.Bigwrapper {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0px auto;
    text-align: justify;
}

.nav {
    text-align: right;
    top: 102px;
    position: fixed;
    background-color: #0978c6;
    width: 100%;
}

.nav form {
    display: inline-block;
}

.nav form button {
    background-color: #0978c6;
    color: white;
    cursor: pointer;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
    margin-right: 1px;
}

.nav a:hover {
    background-color: #056fb6;
}

#logo-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    left: 5px;
    z-index: 100;
    top: 3px;
    overflow: hidden;
    box-sizing: border-box;
}

.logo {
    width: 100%;
}

.menu {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    z-index: 300;
    background-color: #0978c6;
    height: 103px;
}

.menu h3 {
    font-size: 21px;
    position: absolute;
    top: 74px;
    z-index: 200;
    left: 12px;
    color: #f9f9f9;
    text-shadow: 2px 1px black;
}

#buttonDiv {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 128px;
    background-color: #f5f5f5;
    text-align: center;
    border-top: 5px solid #f5f5f5;
}

#buttonDiv button,
#buttonDiv select,
select option {
    display: inline-block;
    font-size: 10px;
    padding: 1px;
}

main {
    width: 100%;
    box-sizing: border-box;
    margin-top: 135px;
}

main fieldset {
    margin: 235px auto 0px auto;
    width: 95%;
    padding-left: 2%;
}

legend {
    margin: 0px 9%;
}

fieldset {
    border: 1px dotted #0978c6;
}

main fieldset .controlBox {
    float: left;
    background-color: white;
    margin: 2px 5px 2px 20px;
    width: 230px;
    height: 130px;
    padding: 20px
}

.help {
    text-indent: 0px;
    font-size: 14px;
    padding-right: 10px;
    color: green;
}

.formfield .eerrorlist,
.formfield .errorlist li {
    color: red;
}

.formfield li,
#extradata li {
    text-indent: 0px;
    font-size: 14px;
    margin-left: 9px;
    padding-right: 10px;
    color: green;
}

.controlBox {
    float: left;
    margin: 7px 25px;
    width: 270px;
    height: 230px;
    padding: 5px 15px 5px 25px;
    box-sizing: border-box;
    background-color: white;
    border: 0px solid black;
    box-sizing: border-box;
    overflow-y: hidden;
    box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -ms-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
}

.controlBox p {
    text-indent: 0px
}

.controlBox form {
    display: inline-block;
}

.controlBox form button {
    padding: 2px;
    cursor: pointer;
    background-color: #1496cf;
    color: white;
}

.article {
    width: 100%;
    background-color: white;
    padding: 1% 3% 3% 3%;
}

.article section {
    margin-top: 1.3%;
}

.article figcaption {
    padding-left: 5px;
    margin-top: -12px;
    font-size: 20px;
}

.article .Pub_discription {
    width: 300px;
    margin: 3px auto;
    text-indent: 0px;
    padding: 5px;
    border: 2px dotted green;
    background-color: #f5f5f5;
}

.article h2 {
    color: black;
}

.article h2,
.article h3 {
    margin-bottom: 5px;
}

.article p {
    margin-top: 0%;
    margin-bottom: 3px;
}

.article li {
    list-style: inherit;
    margin-left: 2%;
    font-size: 18px;
}

.article img {
    width: 100%;
    height: 300px;
    font-size: 16px;
}

.divEditor {
    width: 95%;
    height: 300px;
    overflow-y: scroll;
    padding: 8px 10px 8px 20px;
    background-color: white;
}

.divEditor li {
    color: black;
    font-size: 16px;
    margin: 0px;
    margin-left: 20px;
}

.subsection {
    margin-top: 10px;
    border-top: 1px dotted black;
}

input,
textarea {
    width: 95%;
    display: block;
    margin-bottom: 5px;
    padding: 2px;
    border: 1px dotted #0978c6;
}

select {
    padding: 2px;
    border: 1px dotted #0978c6
}

label[for$=id],
label[for$=article] {
    display: none;
}

label {
    color: #0978c6
}

.publishbox label {
    margin-left: 5%;
}

input[id$=DELETE],
input[id=id_publish] {
    display: inline-block;
    width: 5px;
    padding: 10px;
}

#id_keywords,
#id_description {
    height: 80px;
}

#id_username,
#id_password {
    width: 200px;
}

#loginButton {
    width: 60px;
    margin: 0px 30%;
    background-color: #0978c6;
    color: white;
}

#loginForm {
    margin-top: 170px;
    width: 100%;
    padding: 0px 15%;
}

.submitButton {
    width: 100px;
    margin: 5px 30%;
    background-color: #0978c6;
    color: white;
}

#addSection {
    margin: 0px 0px 20px 2.5%;
}

.backToTop {
    position: fixed;
    right: 5%;
    top: 63%;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
    width: 40px;
    height: 50px;
    z-index: 2000;
    padding: 2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    display: none;
}

.backToTop a {
    color: white;
    font-size: 30px;
}

footer {
    clear: both;
    border-top: 0px solid black;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

#footer,
footer span {
    width: 100%;
    text-align: center;
    color: rgba(230, 230, 230, 0.9);
    font-size: 18px;
    position: relative;
    text-indent: 0px;
}

a,
a sup {
    text-decoration: none;
    color: #0978c6;
}

a sup {
    font-size: 14px;
}

p {
    font-size: 18px;
    text-indent: 7%;
    margin-top: 0.2%;
}

label,
.submitButton,
.controlBox form button {
    font-size: 18px;
}

h1 {
    font-size: 18px;
}

h2,
figcaption em,
.article p a {
    font-size: 18px;
}

@media screen and (min-width:481px) {
    .article img {
        width: 90%;
        margin: 0px 5%;
    }
    .nav {
        right: 7px;
        top: 70px;
    }
    #buttonDiv {
        top: 100px;
    }
    #buttonDiv button,
    #buttonDiv select,
    select option {
        font-size: 16px;
    }
    main fieldset {
        margin: 200px auto 0px auto;
    }
    #id_username,
    #id_password {
        width: 250px;
    }
    #loginButton {
        margin: 0px 25%;
    }
    #loginForm {
        margin-top: 170px;
        width: 100%;
        padding: 0px 20%;
    }
    .controlList {
        margin-left: 5%;
    }
    .controlBox {
        margin: 7px 2%;
    }
    .article .Pub_discription {
        width: 400px;
    }
    .help {
        font-size: 18px;
    }
}

@media screen and (min-width:641px) {
    .article img {
        width: 85%;
        margin: 0px 7.5%;
    }
    main fieldset {
        width: 90%;
        padding-left: 10%
    }
    .nav form button {
        font-size: 16px;
    }
    input,
    textarea {
        width: 80%;
    }
    #id_username,
    #id_password {
        width: 300px;
    }
    #loginButton {
        margin: 0px 20%;
    }
    #loginForm {
        margin-top: 170px;
        width: 100%;
        padding: 0px 25%;
    }
    #footer,
    footer span {
        font-size: 18px;
    }
}

@media screen and (min-width:1000px) {
    .nav {
        top: 65px;
    }
    main fieldset {
        width: 70%;
        padding-left: 10%
    }
    input,
    textarea {
        width: 75%;
    }
    .article {
        /* height: 1553px; */
        overflow-y: scroll;
    }
    .article img {
        height: 400px;
        width: 100%;
        margin: 0px;
    }
    .article li {
        font-size: 20px;
    }
    .controlList {
        margin-left: 3%;
    }
    #footer,
    footer span {
        font-size: 20px;
    }
    p {
        font-size: 20px;
        margin-top: 0.3%;
    }
    label,
    .submitButton,
    .controlBox form button,
    figcaption em,
    .article p a {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
        text-indent: 7%;
    }
    h2 {
        font-size: 22px;
    }
}

@media screen and (max-width:317px) {
    .controlBox {
        margin: 5px;
    }
    p,
    label,
    .submitButton,
    .controlBox form button,
    figcaption em,
    .article li,
    .article p a {
        font-size: 16px;
    }
    .article .Pub_discription {
        width: 270px;
    }
}