.bannerdiv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 420px;
    grid-template-rows: repeat(12, 35px);
}

.svgdiv {
    grid-area: 1/1/13/12;
    z-index: 1;
    /* height: 400px; */
    /* margin-bottom: 0px; */
}

.banner {
    /* width: 100%; */
    grid-area: 1/5/13/13;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 420px;
    /* background-color: #888787; */
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannertext {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #F28B30 ! important;
    opacity: 0.6;
}

.bannercover {
    position: absolute;
    width: 100%;
    height: 420px;
    z-index: 2;
}

.bannerflex {
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    align-content: center;
}

.banneritems {
    flex-grow: 1;
    text-align: center;
    flex-basis: 50%;
    padding: 0 41px;
}

.banneritems h1 {
    color: #F28B30;
    font-size: 31.10px;
    margin-bottom: 20px;
}

.banneritems p {
    color: #F28B30;
    font-size: 21.60px;
    margin-bottom: 20px;
}

.banneritems .lesser {
    color: black;
}

.banneritems .less {
    color: white;
    font-size: 23px;
}