{% extends 'sales/sales.html' %} {% load static %} {% block title %}
<title>Day Sales</title>{% endblock title %} {% block main %}
<h1>Daily Sales</h1>
<div id="flex_container">
    <form name="getsales" method="post">
        {% if request.user.is_admin %}
        <label for="branch">Select Branch</label>
        <select name="branch">
        <option value="0" selected>Select Branch</option>
        {% for branch in branches %}
        <option value="{{branch.id}}">{{branch.name}}</option>
        {% endfor %}
    </select> {% else %}
        <input type="hidden" name="branch" value="{{request.user.branch_id}}"> {% endif %}
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" id="start_date" required>
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" id="end_date" required>
        <button class="addbutton" type="submit" id="get_sales">Get Sales</button>
    </form>

    <div class="get_order">
        <label for="sale_id">Sale Id</label>
        <input type="text" name="order_id" id="order_id">
        <label for="transaction_mode">Mode of Transaction</label>
        <select name="payment_method" id="payment_method">
        <option value="">------</option>
        <option value="credit">Credit</option>
        <option value="cash">Cash</option>
        <option value="transfer">Transfer</option>
        <option value="online">Online</option>
    </select>
        <button id="get_sale" class="addbutton">Get Sale</button>
    </div>
</div>

<div>
    <div style="margin-top: 30px;" id="salesList" class="tablecontainer">
        <table>
            <thead>
                <tr>
                    <th colspan="10">Store Sales</th>
                </tr>
                <tr>
                    <th>SN</th>
                    <th>Category</th>
                    <th>Product</th>
                    <th>size</th>
                    <th>Color</th>
                    <th>Qty</th>
                    <th>Unity Price</th>
                    <th>Total Price</th>
                    <th>Mode of Transaction</th>
                    <th>Purchase ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in store_sales.sales %}
                <tr>
                    <td class="sn"></td>
                    <td>{{item.product.product_type.category}}</td>
                    <td>{{item.product_type}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.qty}}</td>
                    <td class="amount">{{item.unit_price}}</td>
                    <td class="amount">{{item.total_price}}</td>
                    {% for product in item.items.all %}
                    <td>{{product.payment_method}} </td>
                    <td><a href="{% url 'sales:saleView' product.purchase_id product.payment_method %}">
                    {{product.purchase_id}}</a> </td>
                    {% endfor %}
                </tr>
                {% endfor %} {% for item in credit_sales.sales %}
                <tr>
                    <td class="sn"></td>
                    <td>{{item.product.product_type.category}}</td>
                    <td>{{item.product_type}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.qty}}</td>
                    <td class="amount">{{item.unit_price}}</td>
                    <td class="amount">{{item.total_price}}</td>
                    <td>Credit</td>
                    {% for product in item.credit_sale_Items.all %}
                    <td><a href="{% url 'sales:saleView' product.purchase_id 'credit' %}">
                    {{product.purchase_id}}</a> </td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
            <tfoot></tfoot>
        </table>
    </div>

    <div style="margin-top: 30px;" id="salesList" class="tablecontainer">
        <table>
            <thead>
                <tr>
                    <th colspan="4">Store Sales Summary</th>
                </tr>
                <tr>
                    <th>SN</th>
                    <th>Product</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in store_sales.summary %}
                <tr>
                    <td class="sn1"></td>
                    <td>{{item.product_type}}</td>
                    <td>{{item.total_qty}}</td>
                    <td class="amount">{{item.total_amount}}</td>
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total Payment by Transfer</th>
                    <th class="amount">{{store_sales.transfer.total}}</th>
                </tr>
                <tr>
                    <th colspan="3">Total Payment in Cash</th>
                    <th class="amount">{{store_sales.cash.total}}</th>
                </tr>
                <tr>
                    <th colspan="3">Grand Total</th>
                    <th class="amount">{{store_sales.total_amount.total}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div style="margin-top: 30px;" id="salesList" class="tablecontainer">
        <table>
            <thead>
                <tr>
                    <th colspan="4">Credit Sales Summary</th>
                </tr>
                <tr>
                    <th>SN</th>
                    <th>Product</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in credit_sales.summary %}
                <tr>
                    <td class="sn2"></td>
                    <td>{{item.product_type}}</td>
                    <td>{{item.total_qty}}</td>
                    <td class="amount">{{item.total_amount}}</td>
                </tr>
                {% endfor %}


            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total</th>
                    <th class="amount">{{credit_sales.total_amount.total}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    {% if request.user.is_admin %}

    <div>
        <div style="margin-top: 30px;" id="salesList" class="tablecontainer">
            <table>
                <thead>
                    <tr>
                        <th colspan="12">Online Sales</th>
                    </tr>
                    <tr>
                        <th>SN</th>
                        <th>Category</th>
                        <th>Product</th>
                        <th>size</th>
                        <th>Color</th>
                        <th>Qty</th>
                        <th>Unity Price</th>
                        <th>Total Price</th>
                        <th>Logistics</th>
                        <th>Grand Total</th>
                        <th>Mode of Transaction</th>
                        <th>Purchase ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in online_sales.sales %}
                    <tr>
                        <td class="sn3"></td>
                        <td>{{item.product.product_type.category}}</td>
                        <td>{{item.product_type}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.color}}</td>
                        <td>{{item.qty}}</td>
                        <td class="amount">{{item.unit_price}}</td>
                        <td class="amount">{{item.total_price}}</td>
                        {% for product in item.items.all %}
                        <td class="amount">{{product.logistics}}</td>
                        <td class="amount">{{item.total_price|add:product.logistics}}</td>
                        <td>{{product.payment_method}} </td>
                        <td><a href="{% url 'sales:saleView' product.purchase_id product.payment_method %}">
                        {{product.purchase_id}}</a> </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot></tfoot>
            </table>
        </div>

        <div style="margin-top: 30px;" id="salesList" class="tablecontainer">
            <table>
                <thead>
                    <tr>
                        <th colspan="7">Online Sales Summary</th>
                    </tr>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Total Quantity</th>
                        <th>Total Amount</th>
                        <th>Total Logistics</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in online_sales.summary %}
                    <tr>
                        <td class="sn4"></td>
                        <td>{{item.product_type}}</td>
                        <td>{{item.total_qty}}</td>
                        <td class="amount">{{item.total_amount}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}


                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">Total</th>
                        <th class="amount">{{online_sales.total_amount.total}}</th>
                        <th class="amount">{{online_sales.total_amount.logistics}}</th>
                    </tr>
                    <tr>
                        <th colspan="3">Grand Total</th>
                        <th  colspan="2" class="amount">{{online_sales.total_amount.logistics|add:online_sales.total_amount.total}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {% endif %} {% endblock main %} {% block javascript %}
    <script src="{% static 'javascript/daysales.js' %}"></script>
    {% endblock javascript %}