{% extends 'sales/sales.html' %} {% block title %}
<title>Product</title>{% endblock title %} {% block main %}

<p id="sales"></p>
<div>
    {% for category in categories %}
    <div>
        <h3>{{category}}</h3>
        {% for productType in category.category.all %}
        <p><a href="{% url 'sales:salesProductView' category.id %}"> {{productType}} </a>
        </p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div>

    {% if products %} {% for product in products %}
    <div>
        <img src="" alt="" srcset="">
        <p>{{product.product_type}}</p>

        {% if not product.multipleSIzes.all %}
        <p>{{product.price}}</p>
        <p>{{product.size}}</p>
        <p id='{{product.id}}productData'>{{product.id}};{{product.product_type.name}};{{product.size}};{{product.price}};{{product.color}};{{product.image}}</p>
        {% else %}
        <div class="multiselect">

            <div id='{{product.id}};selectBox' class="selectBox">
                <select>
            <option>Select an option</option>
          </select>
                <div class="overSelect"></div>
            </div>
            <div id='{{product.id}}checkboxes' class="checkboxes">
                {% for size in product.multipleSIzes.all %}
                <label for={{size.id}}>
            <input type="checkbox" name="{{product.id}}checkbox" id={{size.id}} 
            data-data={{size.id}};{{size.price}};{{size.size}} />{{size}}</label> {% endfor %}
            </div>
        </div>

        <p id='{{product.id}}productData'>{{product.id}};{{product.product_type.name}};{{product.color}};{{product.image}}</p>
        {% endif %}
        <button class="addToCartButton" id={{product.id}}>Add to Cart</button>
    </div>

    {% endfor %} {% elif initial %}
    <p>Please select a product type</p>
    {% else %}
    <p>No product Found</p>
    {% endif %}

</div>
<div class="get_user">
    <label for="user_phone_number">Phone_Number</label>
    <input type="text" name="user_phone_number" id="user_phone_number">
    <button id="get_user">Get User</button>
</div>
<p id="lastSale"> <a href="">View Recent Sale</a></p>
<form name="salesForm">
    {% csrf_token %}
    <div id='salesDetails'>
        <div>
            {{customerForm}} {{saleForm}}
        </div>

        <div id="salesList">
            <table>
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product Name</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Unit Price</th>
                        <th>Mini Price</th>
                        <th>Qty</th>
                        <th>Total Price</th>
                        <th>Expected Price</th>

                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="grandtotal">0</td>
                        <td id="expectedgroundtotal">0</td>

                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <button type="submit">Submit</button>
</form>
{% endblock main %}
{% block javascript %}
<script src="{% static 'javascript/state.js' %}"></script>
<script src="{% static 'javascript/productpage.js' %}"></script>
{% endblock javascript %}