{% extends 'sales/sales.html' %} {% block title %} {% load static %}
<title>Product</title>{% endblock title %} {% block main %}

<section id='list_items' class="list_items">
    {% for category in categories %}
    <div class="categories">
        <h3>{{category}}</h3>
        <div class="content">
            {% for productType in category.category.all %}
            <p class="innerItem"><a href="{% url 'sales:salesProductView' productType.id %}"> {{productType.name}} </a>
            </p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>

<div class="product_container">
    {% if products %} {% for product in products %} {% include 'sales/product_template.html' %} {% endfor %} {% elif initial %}
    <p>Please select a product type</p>
    {% else %}
    <p>No product Found</p>
    {% endif %}
</div>

<div style="margin: 30px 0px;" class="get_user">
    <label for="user_phone_number">Phone_Number</label>
    <input type="text" name="user_phone_number" id="user_phone_number">
    <button class="addbutton" id="get_user">Get User</button>
</div>
{% include "sales/salesform.html" %} {% endblock main %} {% block javascript %}
<script src="{% static 'javascript/state.js' %}"></script>
<script src="{% static 'javascript/productpage.js' %}"></script>
{% endblock javascript %}