{% extends 'sales/sales.html' %} {% load static %} {% block title %}
<title>Sale</title>{% endblock title %} {% block main %}

<div style="margin-bottom:30px">
    <label for="sale_id">Sale Id</label>
    <input type="text" name="order_id" id="order_id">
    <label for="transaction_mode">Mode of Transaction</label>
    <select name="payment_method" id="payment_method">
        <option value="">------</option>
        <option value="credit">Credit</option>
        <option value="cash">Cash</option>
        <option value="transfer">Transfer</option>
        <option value="online">Online</option>
    </select>
    <button id="get_sale" class="addbutton">Get Sale</button>
</div>

{% if not_found %}
<p>No data found. Please, make sure that you enter a correct sale id and mode of transaction</p>
{% else %}
<div>
    <div class="customerData">
        <p><strong>Name:</strong> <a href="{% url 'credit_sales:creditSalesView' customer.id 'view' %}">{{customer.name}}</a></p>
        <p><strong>Phone Number:</strong>  <a href="tel:{{customer.phone_number}}">{{customer.phone_number}}</a> </p>
        <p><strong>Email:</strong> {{customer.email}}</p>
        <p><strong>Address:</strong> {{customer.address}}</p>
        <p><strong>Purchase_id:</strong> {{sale.purchase_id}}</p>
        <p><strong>Payment_method:</strong> {% if sale.payment_method %} {{sale.payment_method}}{% else %} Credit {% endif %}</p>
        <p><strong>Remark: </strong>{{sale.remark}}</p>
        <p><strong>Date:</strong> {{sale.date}}</p>
        <p><strong>Paid: </strong> {{sale.paid}} </p>
    </div>

    <div id="salesList">
        <table>
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Product Name</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Unit Price</th>
                    <th>Qty</th>
                    <th>Total Price</th>
                    <th>Logistics</th>

                </tr>
            </thead>
            <tbody id="tbody">
                {% for item in sale.items.all %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.product_type}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.size}} </td>
                    <td class="amount">{{item.unit_price}}</td>
                    <td>{{item.qty}} </td>
                    <td class="amount">{{item.total_price}}</td>
                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="grandtotal" class="amount">{{sale.total_amount}}</td>
                    <td id="logistics" class="amount">{{sale.logistics}}</td>
                </tr>
                <tr>
                    <td colspan="6">Grand Total</td>
                    <td colspan="2" id="logistics" class="amount">{{sale.logistics|add:sale.total_amount}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %} {% endblock main %} {% block javascript %}
<script src="{% static 'javascript/creditsales.js' %}"></script>
{% endblock javascript %}