<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'user:logoutView' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sign Out</button>
    </form>
    {% for category in categories %}
    <div>
        <h3>{{category}}</h3>
        {% for productType in category.category.all %}
        <p><a href="{% url 'sales:salesProductView' category.id %}"> {{productType}} </a>
        </p>
        {% endfor %}
    </div>
    {% endfor %}


</body>

</html>