{% extends 'sales/sales.html' %} {% load static %} {% block title %}
<title>Stock</title>{% endblock title %} {% block main %}
<h3>{{branch}}</h3>

<form action="{% url 'stock:stockView' stockId branch.id action %}" method="post">
    {% csrf_token %} {% if action == "edit" %}
    <p>{{instance.product.product_type.name}} - {{instance.size_instance}} - ({{instance.qty}}) - {{instance.date}}</p>
    {{form}} {% else %}
    <label for="id_qty">Qty:</label>
    <input type="number" name="qty" required="" id="id_qty">

    <label for="id_product">Product:</label>
    <select name="product" required="" id="id_product">
        <option value="" selected="">---------</option>
        {% for product in branch.products_branches.all  %}
        
        {% if product.multipleSIzes %}
         
         {% for size  in product.multipleSIzes.all  %}
         <option value="{{product.id}}-{{size.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{size.price}}</span> - size:{{size.size}}</option>
         {% endfor %}    
            
        {% else %}
        <option value="{{product.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{product.price}}</span> - size:{{product.size}}</option>
        {% endif %}
            
        {% endfor %}

</select> {% endif %}


    <button type="submit">
            
            {% if action == "add" %}
                ADD
            {% else %}
                UPDATE
            {% endif %}
                
        </button>
</form>

<div style="border:2px solid red">
    {% for dic in stock_list %}
    <div style="border:2px solid blue">

        {% if dic.size %}
        <p>{{dic.product.product_type.category}} - {{dic.product.product_type.name}} - {{dic.product.color}} - {{dic.size.size}} </p>
        {% else %}
        <p>{{dic.product.product_type.category}} - {{dic.product.product_type.name}} - {{dic.product.color}} - {{dic.product.size}} </p>
        {% endif %} {% for stock in dic.stock %}
        <div style="border:2px solid green">
            <p>{{stock.date}} --- ({{stock.qty}}) </p>
            <a href="{% url 'stock:stockView' stock.id branch.id 'delete' %}"> Delete</a>
            <a href="{% url 'stock:stockView' stock.id branch.id 'edit' %}"> Edit</a>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</div>

<div class="tablecontainer">
    <table id="stock-table">
        <thead>
            <th>SN</th>
            <th>Category</th>
            <th>Name</th>
            <th>Color</th>
            <th>Size</th>
            <th>Current Qty</th>
            <th>Returned Qty</th>
            <th>Bad Qty</th>
            <th>Add Stock</th>
        </thead>
        <tbody>
            {% for branch_product in branch.branch_product_branch.all %} {% if branch_product.is_multiple_sized %} {% for multiple_size in branch_product.multiple_size_set.all%}
            <tr>
                <td class="sn"></td>
                <td>{{branch_product.product.product_type.category}}</td>
                <td>{{branch_product.product.product_type.name}}</td>
                <td>{{branch_product.product.color}}</td>
                <td>{{multiple_size.size.size}}</td>
                <td>{{multiple_size.current_qty}}</td>
                <td>{{multiple_size.returned_qty}}</td>
                <td>{{multiple_size.bad_qty}}</td>
                <td>
                    <form action="{% url 'stock:stockView' stockId branch.id action %}" method="post">
                        {% csrf_token %}
                        <label for="id_qty">Qty:</label>
                        <input type="number" name="qty" required="" id="id_qty">
                        <input type="hidden" name="product" value="{{branch_product.product.id}}-{{multiple_size.size.id}}">
                        <button type="submit"> Add</button>
                    </form>

                </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
                <td class="sn"></td>
                <td>{{branch_product.product.product_type.category}}</td>
                <td>{{branch_product.product.product_type.name}}</td>
                <td>{{branch_product.product.color}}</td>
                <td>{{branch_product.product.size}}</td>
                <td>{{branch_product.current_qty}}</td>
                <td>{{branch_product.returned_qty}}</td>
                <td>{{branch_product.bad_qty}}</td>
                <td>
                    <form action="{% url 'stock:stockView' stockId branch.id action %}" method="post">
                        {% csrf_token %}
                        <label for="id_qty">Qty:</label>
                        <input type="number" name="qty" required="" id="id_qty">
                        <input type="hidden" name="product" value="{{branch_product.product.id}}">
                        <button type="submit"> Add</button>
                    </form>

                </td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
{% endblock main %} {% block javascript %}
<script src="{% static 'javascript/stock.js' %}"></script>
{% endblock javascript %}