{% extends 'sales/sales.html' %} {% block title %}
<title>Stock</title>{% endblock title %} {% block main %}
{% for branch in branches %}
    <p>{{branch}}</p>
    {% for stock in branch.stock_branch.all %}
    <p>{{stock}}</p>
    <a href="{% url 'stock:stockView' stock.id 'delete' %}"> DELETE</a>
    <a href="{% url 'stock:stockView' stock.id 'edit' %}"> Edict</a> {% endfor %} {% endfor %}


    <form action="{% url 'stock:stockView' stockId action %}" method="post">
        {{instance}} {% csrf_token %} {{form}}
        <button type="submit">
            
            {% if action == "add" %}
                ADD
            {% else %}
                UPDATE
            {% endif %}
                
        </button>
    </form>

{% endblock main %}
{% block javascript %}
{% endblock javascript %}