{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script>
    </script>
</head>

<body>
    <h1>Hello2 </h1>
    {% for customer in customers %} {% if not customer.is_super_admin %}
    <p>{{customer}}</p>

    <a href="{% url 'user:customerView' customer.id 'delete' %}"> DELETE</a>
    <a href="{% url 'user:customerView' customer.id 'edit' %}"> Edict</a> {% endif %} {% endfor %}


    <form action="{% url 'user:customerView' customerId action %}" method="post">
        {% csrf_token %} {{form}}
        <button type="submit">
            
            {% if action == "add" %}
                ADD
            {% else %}
                UPDATE
            {% endif %}
                
        </button>
    </form>

</body>
<script>
</script>

</html>