{% extends 'sales/sales.html' %} {% block title %}
<title>Customer</title>{% endblock title %} {% block main %}
{% for customer in customers %} {% if not customer.is_super_admin %}
<p>{{customer}}</p>

<a href="{% url 'user:customerView' customer.id 'delete' %}"> DELETE</a>
<a href="{% url 'user:customerView' customer.id 'edit' %}"> Edict</a> {% endif %} {% endfor %}


<form action="{% url 'user:customerView' customerId action %}" method="post">
    {% csrf_token %} {{form}}
    <button type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>
{% endblock main %}
{% block javascript %}
{% endblock javascript %}