{% extends 'sales/sales.html' %} {% block title %}
<title>Password Reset</title>{% endblock title %} {% block main %} {% if message %} {{message}} {% endif %}
<div class="resetform">
    <form method="post" id="loginForm">
        <p class="help ">Please, enter your email to reset password</p>
        {% csrf_token %} {{form}}
        <button type="submit" id="loginButton" class="addbutton">Request Reset</button>
    </form>
</div>

{% endblock main %} {% block javascript %} {% endblock javascript %}