{% extends 'sales/sales.html' %} {% block title %}
<title>Bad Product</title>{% endblock title %} {% block main %}

<h1>Bad Products</h1>

<form style="margin-bottom: 30px;" action="{% url 'product:badProductView' badProductId action %}" method="post">
    {% csrf_token %} {% if action == 'add' and not request.user.is_admin %}
    <label for="id_product">Product:</label><select name="product" required="" id="id_product">
<option value="" selected="">---------</option>
{% for product in products %}

{% if product.multipleSIzes %}
       
{% for size  in product.multipleSIzes.all  %}
<option value="{{product.id}}-{{size.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{size.price}}</span> - size:{{size.size}}</option>
{% endfor %}    
   
{% else %}
<option value="{{product.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{product.price}}</span> - size:{{product.size}}</option>
{% endif %}
{% endfor %}
</select>
    <input type="hidden" name="branch" value={{request.user.branch_id}}>
    <label for="id_qty">Qty:</label><input type="number" name="qty" required="" id="id_qty"> {% elif action == "edit" %}

    <label for="id_product">Product:</label>
    <input type="text" name="product" value="{{instance.product.product_type}}" id="id_product" readonly>

    <label for="id_size_instance">Size_instance:</label>
    <input type="text" name="size_instance" value="{{instance.size_instance}}" id="id_size_instance" readonly>

    <label for="id_branch">Branch:</label>
    <input type="text" value="{{instance.branch}}" name="branch" id="id_branch" readonly>

    <label for="id_qty">Qty:</label>
    <input type="number" name="qty" value="{{instance.qty}}" required="" id="id_qty"> {% else %}

    <label for="id_product">Product:</label><select name="product" required="" id="id_product">
      <option value="" selected="">---------</option>
      {% for product in products %}
     
      {% if product.multipleSIzes %}
             
      {% for size  in product.multipleSIzes.all  %}
      <option value="{{product.id}}-{{size.id}}">{{product.product_type.name}} - {{product.color}} - &#8358  <span class="amount">{{size.price}}</span> - size:{{size.size}}</option>
      {% endfor %}    
         
     {% else %}
     <option value="{{product.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{product.price}}</span> - size:{{product.size}}</option>
     {% endif %}
      {% endfor %}
    </select>
    <label for="id_branch">Branches</label>
    <select name="branch" id="id_branch" required="">
      <option value="" selected="">---------</option>
      {% for branch in branches %}
      <option value="{{branch.id}}">{{branch}}</option>
      {% endfor%}
    </select>
    <label for="id_qty">Qty:</label><input type="number" name="qty" required="" id="id_qty"> {% endif %}

    <button class="addbutton" type="submit">
          
          {% if action == "add" %}
              ADD
          {% else %}
              UPDATE
          {% endif %}
              
      </button>
</form>


{% if request.user.is_admin %} {% for branch in branches %}
<h3 class="reduceMarginBottom">{{branch}} </h3>
<section class="list_items">
    {% for badProduct in branch.bad_product_branch.all|slice:":10" %}
    <div class="items center">
        {% if badProduct.size_instance %}
        <p class="description">{{badProduct.branch}} - 
            {{badProduct.product.product_type}} -{{badProduct.product.color}} - 
            {{badProduct.size_instance.size}} - ({{badProduct.date}}) -
             {{badProduct.qty}}</p>
        {% else %}
        <p class="description">{{badProduct.branch}} - {{badProduct.product}} - 
            ({{badProduct.date}}) - {{badProduct.qty}}</p>
        {% endif %}
        <a class="delete" href="{% url 'product:badProductView' badProduct.id 'delete' %}"><button> Delete</button></a>
        <a href="{% url 'product:badProductView' badProduct.id 'edit' %}"> <button> Edit</button></a>

    </div>
    {% endfor %}
</section>
{% endfor %} {% else %}
<h3 class="reduceMarginBottom">{{request.user.branch}}</h3>
<section style="text-align: center;" class="list_items">
    {% for badProduct in request.user.branch.bad_product_branch.all %}
    <div class="items">

        <p class="description">{{badProduct.product}} - {{badProduct.qty}} - ({{badProduct.date}})</p>
        <a class="delete" href="{% url 'product:badProductView' badProduct.id 'delete' %}"><button> Delete</button></a>
        <a href="{% url 'product:badProductView' badProduct.id 'edit' %}"><button > Edit</button></a>
    </div>

    {% endfor %} {% endif %}
</section>
{% endblock main %}