{% extends 'sales/sales.html' %} {% block title %}
<title>Category</title>{% endblock title %} {% block main %}
<h1>Category</h1>
<form style="margin-bottom: 30px;" action="{% url 'product:categoryView' categoryId action %}" method="post">
    {% csrf_token %} {{form}}
    <button class="addbutton" type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>
<section class="list_items">

    {% for category in categories %}
    <div class="items center">
        <li class="description">{{category.name}}</li>

        <a class="delete" href="{% url 'product:categoryView' category.id 'delete' %}"> <button>Delete</button></a>
        <a href="{% url 'product:categoryView' category.id 'edit' %}"> <button>Edit</button></a>
    </div>
    {% endfor %}

</section>
{% endblock main %}