{% extends 'sales/sales.html' %} {% block title %}
<title>Category</title>{% endblock title %} {% block main %}
<form action="{% url 'product:categoryView' categoryId action %}" method="post">
    {% csrf_token %} {{form}}
    <button type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>
<ul>

    {% for category in categories %}
    <li>{{category.name}}</li>

    <a href="{% url 'product:categoryView' category.id 'delete' %}"> Delete</a>
    <a href="{% url 'product:categoryView' category.id 'edit' %}"> Edit</a> {% endfor %}

</ul>
{% endblock main %}