{% extends 'sales/sales.html' %} {% block title %}
<title>Product</title>{% endblock title %} {% block main %}
<h1>Product</h1>
<form action="{% url 'product:productView' productId action %}" enctype="multipart/form-data" method="post">
    {% csrf_token %} {{form}}
    <button type="submit" class='addbutton'>
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>


<section class="list_items">
    {% for product in products %}
    <div class="items center">
        <p class='description'>{{product}}</p>

        <!-- <a class="delete" href="{% url 'product:productView' product.id 'delete' %}"><button>Delete</button></a> -->
        <a href="{% url 'product:productView' product.id 'edit' %}"><button>Edit</button></a>
    </div>
    {% endfor %}
</section>

{% endblock main %}