{% extends 'sales/sales.html' %} {% block title %}
<title>Product</title>{% endblock title %} {% block main %}
<ul>

    {% for product in products %}
    <li>{{product}}</li>

    <a href="{% url 'product:productView' product.id 'delete' %}"> DELETE</a>
    <a href="{% url 'product:productView' product.id 'edit' %}"> Edict</a> {% endfor %}

</ul>
<form action="{% url 'product:productView' productId action %}" enctype="multipart/form-data" method="post">
    {% csrf_token %} {{form}}
    <button type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>

{% endblock main %}