{% extends 'sales/sales.html' %} {% block title %}
<title>Product Type</title>{% endblock title %} {% block main %}
<ul>

    {% for productType in productTypes %}
    <li>{{productType}}</li>

    <a href="{% url 'product:productTypeView' productType.id 'delete' %}"> DELETE</a>
    <a href="{% url 'product:productTypeView' productType.id 'edit' %}"> Edict</a> {% endfor %}

</ul>
<form action="{% url 'product:productTypeView' productTypeId action %}" method="post">
    {% csrf_token %} {{form}}
    <button type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>
{% endblock main %}