{% extends 'sales/sales.html' %} {% block title %}
<title>Pre Order</title>{% endblock title %} {% block main %}
<h1>Pre-Order</h1>

<form action="{% url 'preOrder:preOrderView' preOrderId action %}" method="post">
    {% csrf_token %} {% if action == "add" %}
    <label for="id_product">Product:</label>
    <select name="product" required="" id="id_product">
        <option value="" selected="">---------</option>
        {% for product in products %}
        
        {% if product.multipleSIzes %}
         
         {% for size  in product.multipleSIzes.all  %}
         <option value="{{product.id}}-{{size.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{size.price}}</span> - size:{{size.size}}</option>
         {% endfor %}    
            
        {% else %}
        <option value="{{product.id}}">{{product.product_type.name}} - {{product.color}} - &#8358 <span class="amount">{{product.price}}</span> - size:{{product.size}}</option>
        {% endif %} 
        {% endfor %}
</select> {% else %}
    <label for="id_product">Product:</label>
    <input type="text" name="product" value="{{instance.product.product_type}}" id="id_product" readonly>

    <label for="id_size_instance">Size_instance:</label>
    <input type="text" name="size_instance" value="{{instance.size_instance}}" id="id_size_instance" readonly> {% endif %} {{form}}
    <button type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>

{% if archiveView %}
<p style="margin-top: 30px;"><a href="{% url 'preOrder:preOrderView' 0 'view' %}">Pre Orders</a></p>
<h3 class="reduceMarginBottom">Archives</h3>
{% else %}
<p style="margin-top: 30px;"><a href="{% url 'preOrder:preOrderView' 0 'getarchive' %}"> Archives</a></p>
<h3 class="reduceMarginBottom">Pre Orders</h3>
{% endif %}


<section class="list_items">

    {% for preOrder in preorders %}
    <div class="items center">
        {% if preOrder.size_instance %}
        <p class="description">{{preOrder.customer}} - {{preOrder.product.product_type}} -{{preOrder.product.color}} - {{preOrder.size_instance.size}} - ({{preOrder.date}}) - {{preOrder.qty}}</p>
        {% else %}
        <p class="description">{{preOrder.customer}} - {{preOrder.product}} - ({{preOrder.date}}) - {{preOrder.qty}}</p>
        {% endif %} {% if not preOrder.archive %}
        <a href="{% url 'preOrder:preOrderView' preOrder.id 'archive' %}"><button>Archive</button></a> {% endif %}
        <a class="delete" href="{% url 'preOrder:preOrderView' preOrder.id 'delete' %}"><button> Delete</button></a> {% if not preOrder.archive %}
        <a href="{% url 'preOrder:preOrderView' preOrder.id 'edit' %}"><button> Edit</button></a> {% endif %}
    </div>
    {% endfor %}


</section>
{% endblock main %}