{% extends 'sales/sales.html' %} {% block title %}
<title>Branch Product</title>{% endblock title %} {% block main %}
<h1>Branch Product</h1>
<ul>

    {% for branchProduct in branchProducts %}
    <li>{{branchProduct}}</li>

    <a href="{% url 'branch:branchProductView' branchProduct.id 'delete' %}"> DELETE</a>
    <a href="{% url 'branch:branchProductView' branchProduct.id 'edit' %}"> Edict</a> {% endfor %}

</ul>
<form action="{% url 'branch:branchProductView' branchProductId action %}" method="post">
    {% csrf_token %} {{form}}
    <button class="addbutton" type="submit">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
</form>

{% endblock main %}