 {% extends 'sales/sales.html' %} {% load static %} {% block title %}
<title>Credit</title>{% endblock title %} {% block main %}
<h1>Credit Sales</h1>
<form action="{% url 'credit_sales:creditSalesView' 0 'view' %}" method="post">
    {% csrf_token %}
    <label for="phone_number">Phone Number</label>
    <input type="text" name="phone_number" id="phone_number">
    <button type="submit" class="addbutton"> Get Credit Details </button>
</form>

<div>
    <p style="margin:10px 0px">{{credits.0.customer}}</p>
</div>


<div class="direction" style="margin: 0px 0px 10px 0px">
    {% if settled %}
    <a href="{% url 'credit_sales:creditSalesView' customerid 'view' %}">View Debts</a>
    <h3>Settled Debts</h3>
    {% endif %} {% if not settled and customerid != 0 %}
    <a href="{% url 'credit_sales:creditSalesView' customerid 'settled' %}">View Settled Payments</a>
    <h3>Debits</h3>
    {% endif %}

</div>

<div>

    {% if message %}
    <p>{{message}}</p>
    {% endif %}

</div>

{% if credits %}


<div id="salesList" style="margin: 0px auto;">
    <table>
        <thead>
            <th>SN</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Purchase Id</th>
            <th>Total Amount</th>
            <th>Total Payment</th>
            <th>Balance</th>
        </thead>
        <tbody>
            {% for item in credits %}
            <tr>
                <td class="sn"></td>
                <td>{{item.date}}</td>
                <td>{{item.branch}}</td>
                <td><a href="{% url 'sales:saleView' item.purchase_id 'credit' %}">
                    {{item.purchase_id}}</a></td>
                <td class='amount'>{{item.total_amount}}</td>
                <td class="amount">{{item.total_payment}}</td>
                <td class="amount">{{item.balance}}</td>
                <td><a href="{% url 'credit_sales:paymentView' item.id 'view' %}">
                    Payments</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
{% endif %} {% endblock main %} {% block javascript %}
<script src="{% static 'javascript/creditsales.js' %}"></script>
{% endblock javascript %}