
{% extends 'sales/sales.html' %} {% block title %}
<title>Credit</title>{% endblock title %} {% block main %}
<form action="{% url 'credit_sales:creditSalesView' 0 %}" method="post">
    {% csrf_token %}
    <label for="phone_number">Phone Number</label>
    <input type="text" name="phone_number" id="phone_number">
    <button type="submit"> Get Credit Details </button>
</form>

<div>
    <p>{{credits.0.customer}}</p>
</div>
<div>

    {% if message %}
    <p>{{message}}</p>
    {% endif %}

</div>
<div>
    <table>
        <thead></thead>
        <tbody>
            {% for item in credits %}
            <tr>
                <td></td>
                <td>{{item.date}}</td>
                <td>{{item.branch}}</td>
                <td><a href="{% url 'sales:saleView' item.purchase_id 'credit' %}">
                    {{item.purchase_id}}</a></td>
                <td>{{item.total_amount}}</td>
                <td>{{item.total_payment}}</td>
                <td>{{item.balance}}</td>
                <td><a href="{% url 'credit_sales:paymentView' item.id 'view' %}">
                    View</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
{% endblock main %}