 {% extends 'sales/sales.html' %} {% load static %} {% block title %}
<title>Credit</title>{% endblock title %} {% block main %}
<form action="{% url 'credit_sales:creditSalesView' 0 'view' %}" method="post">
    {% csrf_token %}
    <label for="phone_number">Phone Number</label>
    <input type="text" name="phone_number" id="phone_number">
    <button type="submit"> Get Credit Details </button>
</form>

<div>
    <p>{{credits.0.customer}}</p>
</div>
{% if settled %}
<a href="{% url 'credit_sales:creditSalesView' customerid 'view' %}">Debts</a> {% endif %} {% if not settled and customerid != 0 %}

<a href="{% url 'credit_sales:creditSalesView' customerid 'settled' %}">Settled Payments</a> {% endif %}
<div>

    {% if message %}
    <p>{{message}}</p>
    {% endif %}

</div>

{% if credits %}


<div>
    <table>
        <thead>
            <th>SN</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Purchase Id</th>
            <th>Total Amount</th>
            <th>Total Payment</th>
            <th>Balance</th>
        </thead>
        <tbody>
            {% for item in credits %}
            <tr>
                <td></td>
                <td>{{item.date}}</td>
                <td>{{item.branch}}</td>
                <td><a href="{% url 'sales:saleView' item.purchase_id 'credit' %}">
                    {{item.purchase_id}}</a></td>
                <td class='amount'>{{item.total_amount}}</td>
                <td class="amount">{{item.total_payment}}</td>
                <td class="amount">{{item.balance}}</td>
                <td><a href="{% url 'credit_sales:paymentView' item.id 'view' %}">
                    Payments</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
{% endif %} {% endblock main %}
{% block javascript %}
<script src="{% static 'javascript/state.js' %}"></script>
<script src="{% static 'javascript/creditsales.js' %}"></script>
{% endblock javascript %}